body {
    display: flex;
    flex-direction: column;
    background: white;
}
#subScreen {
    z-index: 0;
    position: absolute;
}
#mainScreen {
    flex: 1;
    display: flex;
    z-index: 10;
}
#player {
    z-index: 10;
    height: 2rem;
    line-height: 2rem;
    background-color: black;
    text-align: center;
}
#player label {
    color: white;
}

#towerSize {
    width: 3rem;
}
#measure {
    color: white;
}
.tower {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.disc {
    margin: 0 auto;
    height: 1rem;
    text-align: center;
    color: gray;
    background-color: black;
    border-radius: 1rem;
    font-size: 0.5rem;
}
