body {
    display: flex;
    flex-direction: column;
}
#config {
    background-color: green;
    text-align: center;
}
#config label {
    color: white;
}
#mainScreen {
    flex: 1;
    display: flex;
}
.tower {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1;
}
.disc {
    margin: 0 auto;
    border-radius: 25%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
#player {
    background-color: green;
    text-align: center;
}
